.chartContainer {
    padding: 60px 30px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 485px) {
    .chartContainer {
        flex-direction: column;
        gap: 80px;
        align-items: center;
    }
}