.appHeader {
    width: 100%;
    margin: 50px auto;
    display: flex;
    gap: 40px;
    align-items: center;
}

.logo {
    background-image: url("/images/manchester-united-logo-F14DA1FCCD-seeklogo.com.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 130px;
}

h1 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}