.appHeader {
    width: 100%;
    margin: 50px auto;
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo {
    background-image: url("/images/premier\ league\ logo.png");
    background-size: contain;
    color: white;
    background-repeat: no-repeat;
    height: 150px;
    width: 200px;
}

h1 {
    margin-bottom: 30px;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}