.appHeader {
    width: 100%;
    margin: 50px auto;
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .logo {
      display: none;
    }
    .appHeader {
        padding: 0 5%;
    }
  }