.dropdown {
    width: 50%;
    position: relative;
}

.dropdown::before {
    content: "Choose season";
    position: absolute;
    top: -20px;
    font-size: .7em;
    font-style: italic;
    letter-spacing: .3px;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.select:hover {
    background-color: rgb(143, 143, 143);
}

.arrowIconRotated {
    transform: rotate(180deg);
}

.menu {
    opacity: 0;
    display: none;
    transition: all 0.3s ease-in-out;
}

.menu__active {
    opacity: 1;
    display: block;
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: grey;
    border-radius: 0.5em;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 2;
}