td {
    text-align: center;
    background-color: #111029;
    padding: 10px;
}

.moreButton {
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #7fa3f7;
    text-transform: uppercase;
    border-bottom: 1px solid #7fa3f7;
    transition: all 0.1s ease-in-out;
}

.moreButton:hover {
    border-bottom: 1px solid #97b6ff;
    color: #97b6ff;
}

.squadItem:nth-child(odd) td {
    background-color: #090818;
}

@media (max-width: 600px) {
    .moreButton {
        font-size: .9em;
    }
}

@media (max-width: 475px) {
    .moreButton {
        font-size: .8em;
    }
}

@media (max-width: 405px) {
    .moreButton {
        font-size: .7em;
    }
}