table {
    width: 100%;
}

th {
    background-color: whitesmoke;
    background-color: #1c1b46;
    padding: 10px;
}

@media (max-width: 600px) {
    table {
        font-size: .9em;
    }
}

@media (max-width: 475px) {
    table {
        font-size: .8em;
    }
}