.header {
    height: 35vh;
    width: 100%;
    background-color: #100f1f;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    display: flex;

}

.intro {
    width: 35%;
    display: flex;
    gap: 40px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    background-color: #100f1f;
}

.photo {
    min-width: 30%;
    height: 80%;
    border-radius: 20px;
}

.name {
    background-color: inherit;
    position: relative;
}

.name__first {
    background-color: inherit;
    color: #9a96d3;
    font-size: 1em;
}

.name__second {
    background-color: inherit;
    font-size: 2.3em;
    color: #d3d1f0;
}

.name__number {
    background-color: inherit;
    color: #9a96d350;
    font-size: 2em;
    position: absolute;
    top: 110%;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.details {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 40px;
    background-color: #100f1f;
}

.name__hash {
    font-size: 0.5em;
    background-color: inherit;
    color: #9a96d350;
}

@media (max-width: 850px) {
    .header {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }

    .details {
        width: 100%;
    }

    .photo {
        margin: 0 30px;
        width: 200px;
    }

    .intro {
        height: 200px;
        width: 50%;
    }
}

@media (max-width: 850px) {
    .intro {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .details {
        font-size: .9em;
    }
}

@media (max-width: 466px) {
    .details {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .intro {
        height: 120px;
        font-size: 0.8em;
    }
}