.statsGeneralItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 10px;
}

.list {
    display: flex;
    flex-direction: column;
}

.listItem {
    border-bottom: 1px solid #100f1f;
    list-style: none;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    height: 60px;
}

.description {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pitchIcon {
    font-size: 2em;
}

.goalIcon {
    font-size: 1.7em;
    color: green;
}

.assistIcon {
    font-size: 1.7em;
}

.title {
    color: #d3d1f0;
}

.data {
    font-size: 1.1em;
    padding: 5px;
    height: 30px;
    color: #d3d1f0;
    width: 50px;
    text-align: center;
}

.yellowCard {
    width: 20px;
    height: 25px;
    margin-right: 5px;
    background-color: yellow;
}

.minutes {
    font-size: 1.5em;
}

.redCard {
    width: 20px;
    height: 25px;
    background-color: red;
    margin-right: 5px;
}

.listItem:nth-child(3) {
    border: none;
}