.App {
  padding: 0 20%;
}

@media (max-width: 1500px) {
  .App {
    padding: 0 15%;
  }
}

@media (max-width: 1200px) {
  .App {
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .App {
    padding: 0;
  }
}