button {
    border: none;
    background-color: rgb(65, 105, 225);
    padding: 0 40px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    transition: background-color 0.15s linear;
}

button:hover {
    background-color: rgb(40, 86, 224);
}