.searchSection {
    max-width: 50%;
    margin: 80px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

@media (max-width:600px) {
    .searchSection {
        max-width: 70%;
    }
}

@media (max-width:475px) {
    .searchSection {
        max-width: 90%;
    }
}